<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/aboutus_archiee.css">
    
</head>
<body>
    <div class="about">
        <div class="inner-section">
            <h1>ABOUT US</h1>
            <p class="text">
                College Buzz collaborates with colleges to provide students with easy access to various events and resources. It aims to facilitate student engagement and promote a positive college experience. Through the platform, students can join in various events, gain access to resources such as study materials. The website aims to create a vibrant college community and support students in achieving their academic and personal goals.
            </p>
            <button> Back To The Future
            </button>
        </div>
    </div>
</body>
</html>