<header id="main-header">
  <div id="logo">
    <a href="/">Notes Request</a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/notes-request">All Posts</a>
      </li>
      <li>
        <a href="/new-request">Create Post</a>
      </li>
    </ul>
  </nav>
</header>