.mainCont{
    width: 100%;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    height: 400px;
    width: 350px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    overflow: hidden;
}
.imageCont{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: pink;
}
.card:hover .bottomCont{
    bottom: -50px;
}
.bottomCont{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: white;
    bottom: -300px;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
    padding: 20px 10px;
}
.mainHead{
    color: rgb(31, 31, 31);
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 600;
    letter-spacing: -0.1px;
}
.descCont{
    height: 60%;
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}
.register{
    width: 80%;
    height: 40px;
    color: white;
    font-weight: 600;
    background-color: #0056d2;
    margin: auto;
    text-align: center;
    padding-top: 7px;
    border-radius: 5px;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1) ;
    cursor: pointer;
    color: #0056d2;
    background-color: white;
    border: 1px solid #0056d2;
    margin: auto;
    
}

