<!DOCTYPE html>
<html>
<head> 
    <link rel="stylesheet" href="style.css">
    <title> jp manager </title>
</head>

<body>
    <section>
    <div class="login-box">
        <form action="#" name="login-form">
            <h1> Login</h1>
            <div class="input-box"> 
                <input type="email" placeholder="" required>
                <label for="" >Email<ion-icon name="mail-outline"></ion-icon></label>
            </div>
             
            <div class="input-box"> 
                <input type="password" placeholder="" required>
                <label for="" >Password<ion-icon name="lock-closed-outline"></ion-icon></label>
            </div>

            <a href="navbar.html"><button form="login-form" ><span>LOGIN</span></button></a>
            <div class="signin">
                <p> New here? <a href="./signup.html">Create account</a></p>
            </div>
            
        </form>
    </div>
</section>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>