<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <title> jp manager </title>
</head>
 
<body>
<section>
    <div class="signup-box">
        <form action="#">
            <h1> Sign up</h1>
            <div class="input-box"> 
                <input type="email" placeholder="" required>
                <label for="" >Email</label>
                
            </div>

            <div class="input-box"> 
                <input type="email" placeholder="" required>
                <label for="" >Confirm Email</label>
                
            </div>
             
            <div class="input-box"> 
                <input type="Password" placeholder="" required>
                <label for="" >Password</label>
                
            </div>

            <div class="input-box">
                <input type="text" placeholder="" required>
                <label for="">Full-Name</label>
            </div>
            
            <div class="input-box">
                <input type="text" placeholder="" required>
                <label for="">College Name</label>
            </div>

            <div class="input-box">
                <input type="text" placeholder="" required>
                <label for="">Languages known</label>
            </div>

            <div class="input-box">
                <input type="int" placeholder="" required>
                <label for="">Year</label>
            </div>

            <div class="input-box">
                <input type="text" placeholder="" required>
                <label for="">Joined Hubs [if any]</label>
            </div>

            <div class="input-box">
                <input type="int" placeholder="" required>
                <label for="">Contest Rating</label>
            </div>

            <div class="input-box">
                <select class="select">
                    <option>Core Member</option>
                    <option>Volunteer</option>
                </select>
                <label for="">Position</label>
            </div>

            <div class="input-box">
                <input type="int" placeholder="" required>
                <label for="">City</label>
            </div>

            <button form="login-form"><span>Create account</span></button>
            <div class="login">
                <p>Already have an account? <a href="./login.html">LogIn</a></p>
            </div>
            
        </form> 
    </div>
</section>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>