.mainCont{
    width: 100%;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    height: 400px;
    width: 350px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.card{
    height: 430px;
    width: 350px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.topCont{
    height: 40%;
    width: 100%;
    position: relative;
}
.bottomCont{
    padding: 20px;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.heading{
    color: rgb(31, 31, 31);
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 600;
    letter-spacing: -0.1px;
    margin-bottom: 30px;
}
.bottomCont p{
    color: rgb(99, 99, 99);
    letter-spacing: 0px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    margin-right: 4px;
    margin-bottom: 5px;
   
}




.container
{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    flex-direction: row;
}
.card
{
    background:white;
    display:block;
    width:350px;
    /* height:400px; */
    margin:30px;
    /* border-radius:1rem 1rem 0 0; */
}

.cardImage
{
    /* background-color:aqua; */
    height:30%;
    background-size:contain;
    object-fit: contain;
    position: relative;
}

.textCont{
    height: 50%;
}
.card-2
{
    background-image: url("gdsc.png");
}
.card-3
{
    background-image: url("gdsc.png");
}
.card h2{
    padding:0.75rem;
}
.card p{
    padding:0.75rem;
}
.readMore{
    /* background-color:black; */
    color:blue;
    text-decoration: none;
    color: inherit;
    font: inherit;
    text-align:center;
    margin:  auto;
    width: 100%;
    text-align: center;

}
.card:hover
{
    background-color:rgb(62,62,62);
    /* box-shadow:rgb(189, 41, 41); */
    color:white;
    cursor:pointer;
    transform:scale(1.03);
}
.card hr {
    width: 90%;
    margin: 0.5rem auto;
}

.header {
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    height: 70px;
}
  
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}
  
.navBrand a {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}
  
.navLinks ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
.navLinks li {
    margin-left: 20px;
}
  
.navLinks a {
    color:black;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.navLinks a:hover{
    color:blueviolet;
}