<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

        <link rel="stylesheet" href="css/icon-font.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">
        
        <title>College buzz</title>
    </head>
    <body>
        <header class="header">
    
            <div class="textBox">
                <h1 class="headingPrimary">
                    <span class="main">College buzz</span>
                    <span class="sub">is where life happpens</span>
                </h1>
                <button href="#" id="signin">Sign in</a>
                <button href="#">Log in</a>
            </div>
        </header>
        
        
    </body>
</html>
