<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pagess.css">
    <title>Document</title>
</head>
<body> 
    <div class="box1">
        <h2>GOOGLE DEVELOPER SCHOLARS CODE</h2>
        <span>Lorem ipsum dolor sit amet consectetuvfvnunvvj</span>
        <div class="box-inside">
            <p>In-person event</p>
        </div>
        <div class="web">
            <p>web</p>
        </div>
    </div>

    <div class="box2">
        <h2>About this event</h2>
        <!-- <hr> -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum mollitia, neque quo dolore repudiandae deleniti eos perferendis temporibus commodi. Repellendus obcaecati, ipsa vel adipisci perspiciatis et quaerat numquam magnam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum mollitia, neque quo dolore repudiandae deleniti eos perferendis temporibus commodi. Repellendus obcaecati, ipsa vel adipisci perspiciatis et quaerat numquam magnam.</p>
    </div>
    <br>
    <div class="box3">
        <div class="time">
            <div class="icon"><ion-icon name="alarm"></ion-icon></div>
            <div class="second-column">
                <h1 class="title-span">When</h1>
                Saturday, Apr 29
                <br>
                3:00 PM - 4:00 PM (IST)
            </div>
        </div>

        <div class="address">
            <div class="icon"><ion-icon name="location"></ion-icon></div>
            <div class="second-column">
                <h1 class="title-span">Where</h1>
                NIIT University
                <br>
                <span>Neemrana, Rajasthan</span>
            </div>
        </div>

        <div class="Contactus">
            <div class="icon"><ion-icon name="call"></ion-icon><div>
            <div class="contact">
                <h1  class="title-span">Contact Us</h1>
                Om Singh : 9876543219
                <br>
                <span>Archie:9876543219</span>
            </div>
        </div>

        <br>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
</body>
</html>